.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    color:black;
    background-color:white;
  }

.h1 {
    color:teal;
    font-size: 40px;
    font-weight: 600;
    padding:10px;
    text-align:"center";

}

.p1 {
    color:black;
    padding:5px;
    margin: 20px;
}

.hr1 {
    color:lightslategray;

}

.img1 {
    width: 600px;
    height: 400px;
    padding: 20px;
    text-align:"center";
}

.img2 {
    width: 220px;
    height: 180px;
    padding: 20px;
}

.img3 {
    width: 150px;
    height: 120px;
    border:white;
    border-width: 5px;
}
.img4 {
    width: 150px;
    height: 120px;
    border:5px solid teal;
}
@media (max-width:1250px) {
    .img3 {
        width: 100px;
        height: 80px;
        border:white;
        border-width: 5px;
    }
    .img4 {
        width: 100px;
        height: 80px;
        border:5px solid teal;
    }
}
@media (max-width: 1100px) {
    .img1 {
        width:400px;
        height: 320px;
        padding: 20px;
    }
    .img3 {
        width: 75px;
        height: 60px;
        border:white;
        border-width: 5px;
    }
    .img4 {
        width: 75px;
        height: 60px;
        border:5px solid teal;
    }
    .h1 {color:teal;
        font-size: 20px;
        font-weight: 600;
        padding:10px;
        text-align:"center";
    }
}